<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769726733285-p3igbc9eip748crua68f3dddqq1klmq5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769726733285-p3igbc9eip748crua68f3dddqq1klmq5</string>
	<key>API_KEY</key>
	<string>AIzaSyD4rJ1xfaoInPeI_t0BvXODJH-yhzP6VuA</string>
	<key>GCM_SENDER_ID</key>
	<string>769726733285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jandy.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-1ce23</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-1ce23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769726733285:ios:9efb8ba5247d09f92bed0c</string>
</dict>
</plist>